exportPattern("^.*")
import(data.table)
import(httr)
import(enviPat)
import(shiny)
import(shinyBS)
import(shinyFiles)
import(gsubfn)
import(plotly)
importFrom("stats", "power")
importFrom("grDevices", "gray.colors", "rainbow")
importFrom("graphics", "par", "plot", "rasterImage")
importFrom("stats", "D", "chisq.test", "complete.cases", "cov",
           "median", "reorder", "setNames", "var")
importFrom("utils", "head", "installed.packages", "packageDescription",
           "read.delim2", "read.table", "type.convert", "write.table")
