#shiny-modal {
  top:25%;
  z-index: 9950;
}

.modal-backdrop {
  z-index: 9945;
}

.shinybusy {
  z-index: 9935;
}

.pretty {
    margin-right: 0em;
}

.mzpicker .bootstrap-select>.dropdown-toggle {
  width: auto;
  background-color: transparent;
  border-color: transparent;
  font-size: x-large;
  width: 100%;
}

.mzpicker .bootstrap-select .dropdown-toggle .filter-option {
    text-align: center;
}

.mzpicker .bootstrap-select .dropdown-toggle .caret {
  top: 100%;
}

.open>.dropdown-menu {
    display: inline;
}

.bootstrap-select .dropdown-menu {
    min-width: auto;
}

.hidden {
  display: none;
}

.modal { 
  show: true; 
  backdrop: true;
  }

.panel-heading {
    padding: 3px 3px;
}

.panel-info>.panel-heading {
    color: black;
    background-color: #fff;
}

.dropdown-menu {
    align-content: center;
    z-index: 1002;
    float: left;
    text-align: center;
    min-width: 0px;
    margin-top: -1px;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}


.bttn-bordered.bttn-default {
    border-color: black;
    color: black;
}

.nav>li>a {
  padding: 9px 15px;  
}

.nav {
    text-align: center;
}

.atom-spinner .spinner-circle {
  display: none;
}

.atom-spinner .spinner-inner:after {
  content: '♥';
  font-size: calc(60px * 0.30);
  display: block;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
    margin-top: 5px;
}

.modal {
  z-index: 9999;
}

.navbar-nav {
    margin: 7.5px -5px -10px;
}

.navbar-brand {
    padding: 0px 0px !important; 
}

.caret {
    position: absolute;
    top: 92% !important;
    left: 49%;
    margin-left: 0px;
}

.filter-option {
  margin-bottom: 4px;
}

.fa-fw {
    width: 100%;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: white;
}

.panel {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px solid transparent;
}

.modal-backdrop.in
{
    opacity:0.99;
    position:fixed;
    height:100%;
}

.selectize-dropdown, .selectize-dropdown.form-control{z-index:1001;}

/*
.shiny-notification {
             position:fixed;
             top: calc(50%);
             left: calc(50%);
             }
*/

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}

.progress-text {
	display:none;
}

.progress-bar {
    color: black;
    background: -webkit-linear-gradient(left, #ffd27e , #ffff90, #85ff85, #7bffff, #7d7dff, #ec66ec);
    background: -o-linear-gradient(right, #ffd27e , #ffff90, #85ff85, #7bffff, #7d7dff, #ec66ec);
    background: -moz-linear-gradient(right, #ffd27e , #ffff90, #85ff85, #7bffff, #7d7dff, #ec66ec);
    background: linear-gradient(to right, #ffd27e , #ffff90, #85ff85, #7bffff, #7d7dff, #ec66ec);
}

.outlined {
 font-size: 1.5em;
 -webkit-text-stroke: .5px #000;
}

/* -webkit-text-fill-color: white; }*/

/* ON-OFF switch button */
/* SÃ©bastien Rochette */
/* http://sebrock.fr/en/ */
/* CSS modified from : https://proto.io/freebies/onoff/ */
/* All switch */
.onoffswitch {
  width: 100px;
  position: relative;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 30px;
}

.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

/* All switch - default div class */
.onoffswitch-inner:before {
  content: " ";
  padding-left: 20px;
  text-align: left;
}

.onoffswitch-inner:after {
  content: " ";
  padding-right: 20px;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 30px; height: 30px; margin: 6.5px;
  position: absolute; top: 0; bottom: 0;
  border-radius: 30px;
  right: 56px;
  transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}


/* Color change */
/* RedGreen */

.RedGreen .onoffswitch-inner:before {
  background-color: #008A0C; color: #FFFFFF;
}
.RedGreen .onoffswitch-inner:after {
  background-color: #D10000; color: #FFFFFF;
}
.RedGreen .onoffswitch-switch {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.RedGreen .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #008A0C;
  border: 2px solid #FFFFFF;
}

/* Color change */
/* BlackWhite */
.BlackWhite .onoffswitch-inner:before {
  background-color: #000000; color: #FFFFFF;
}
.BlackWhite .onoffswitch-inner:after {
  background-color: #FFFFFF; color: #000000;
}

.BlackWhite .onoffswitch-switch {
  background: #000000;
  border: 2px solid #000000;
}
.BlackWhite .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

/* GreyBlue */ 

.GreyBlue .onoffswitch-inner:before {
  background-color: #FFFFFF; color: #428bca;
}
.GreyBlue .onoffswitch-inner:after {
  background-color: #FFFFFF; color: #AAA;
}
.GreyBlue .onoffswitch-switch {
  background: #AAA;
  border: 2px solid #AAA;
}
.GreyBlue .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background-color: #428bca;
}

/* Text change */
/* On / Off */

.OnOff .onoffswitch-inner:before {
  content: "ON";
  font-size: 15px;
}

.OnOff .onoffswitch-inner:after {
  content: "OFF";
  font-size: 15px;
}

/* Yes / No */

.YesNo .onoffswitch-inner:before {
  content: "YES";
  font-size: 15px;
}

.YesNo .onoffswitch-inner:after {
  content: "NO";
  font-size: 15px;
}

/* True / False */

.TrueFalse .onoffswitch-inner:before {
  content: "TRUE";
  font-size: 15px;
}

.TrueFalse .onoffswitch-inner:after {
  content: "FALSE";
  font-size: 15px;
}

/* Tt / Fc */

.TtFc .onoffswitch-inner:before {
  content: "TT";
  font-size: 15px;
}

.TtFc .onoffswitch-inner:after {
  content: "FC";
  font-size: 18px;
}

/* As / Mb */

.AsMb .onoffswitch-inner:before {
  content: "ASCA";
  font-size: 10px;
}

.AsMb .onoffswitch-inner:after {
  content: "MEBA";
  font-size: 10px;
}

/* 2d / 3d */

.twodthreed .onoffswitch-inner:before {
  content: "2D";
  font-size: 20px;
}

.twodthreed .onoffswitch-inner:after {
  content: "3D";
  font-size: 20px;
}

/* Cloud / Bar */

.ClBr .onoffswitch-inner:before {
  content: "cloud";
  font-size: 15px;
}

.ClBr .onoffswitch-inner:after {
  content: "bar";
  font-size: 18px;
}
/* -------------------- EXPERIMENTATION -------------------- */

.shiny-image-output img {
  max-width: 100%;
  max-height: 120px;
}

.row {
  margin-right:-7px;
  margin-left:-7px;
}

/* funky code that works */

.fadebox {
  display: none;
}

.fadebox + label > img {
  height: 40px;
}

.fadebox:checked + label > img {
  opacity: 0.25;
}

#fancy:checked + label > img {
  opacity: 0.85;
}

/* SPINNING INTRO THINGY */
.rotategem
{
  animation:spin 1s infinite ease-in-out;
  -webkit-animation:spin 1s infinite ease-in-out;
  -moz-animation:spin 1s infinite ease-in-out;
  -webkit-filter: drop-shadow(2px 1px 0 white)
                  drop-shadow(-1px -1px 0 gray);
  filter: drop-shadow(2px 1px 0 white) 
          drop-shadow(-1px -1px 0 gray);
          
}


/* FANCY ICON */
.spinnylocation1
{
  position: absolute;
  top: 25px;
  right: -30px;
  animation-fill-mode: forwards;
  z-index:1000;
}

.imagetop
{
  animation-name: heartFadeInOut; 
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

 @keyframes heartFadeInOut {
  0% {transform: scale(1);}
  25% {transform: scale(.97);}
  35% {transform: scale(.9);}
  45% {transform: scale(1.1);}
  55% {transform: scale(.9);}
  65% {transform: scale(1.1);}
  75% {transform: scale(1.03);}
  100% {transform: scale(1);}
}


.plus
{
    margin : 0;
    padding : 0;
    height: 80px;
    width : 180px;
    overflow : visible;
}

.minus
{
    margin : 0;
    padding : 0;
    height: 80px;
    width : 180px;
    overflow : hidden;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rightAlign{float:right;}

#curly-brace
{
  color: black;
  width: 100%;
  position: relative;
}

.brace
{
  border-bottom: 5px solid;
  margin: 0 10%;
  width: 30%;
  height: 20px;  
  float: left;
}

.readme_image {
  width: 70%;  
}

ol, ul { display:inline-table; 
         list-style-position: inside; }

pre {
   padding: 0px;
}

a {
    color: darkgray;
}

.tabbable > ul{
  display:block;
}

.brace:before,
.brace:after
{
  content: "";
  width: 10%;
  height: 50px;
  position: absolute;
  display: block;
}

#left:before
{  
  border-bottom: 5px solid;  
  border-bottom-left-radius: 20px;
  margin-left: -10%;
  margin-top: -30px;
}

#left:after
{
  border-top: 5px solid;
  border-top-right-radius: 20px;
  margin-left: 30%;
  margin-top: 16px;    
}

#right:before
{
  border-top: 5px solid;
  border-top-left-radius: 20px;
  margin-left: -10%;
  margin-top: 16px;
}

#right:after
{
  border-bottom: 5px solid;
  border-bottom-right-radius: 20px;
  margin-left: 30%;
  margin-top: -30px;
}

#username
{
  text-align: center;
}

#password
{
  text-align: center;
}

#search_mz{
  text-align: center;
}

.swal2-icon.swal2-question {
    display: none !important;
}

/* Animation rainbow background */
@keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 1000px; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 1000px; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 1000px; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0; }
    100% { background-position: 1000px; }
}

#heartHolder .shiny-input-container {
    position: relative;
    left: 91.5%;
    z-index: 1006;
    height: 30px;
    bottom: 74px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #fb8a8a), color-stop(0.15, #ff8dc7), color-stop(0.3, #8484ff), color-stop(0.45, #a8ffff), color-stop(0.6, #a0ffa0),color-stop(0.75, #91ff91), color-stop(0.9, #ffffa8), color-stop(1, #f99292) );
  background-image: gradient( linear, left top, right top, color-stop(0, #fb8a8a), color-stop(0.15, #ff8dc7), color-stop(0.3, #8484ff), color-stop(0.45, #a8ffff), color-stop(0.6, #a0ffa0),color-stop(0.75, #91ff91), color-stop(0.9, #ffffa8), color-stop(1, #f99292) );
  color:transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -o-animation: animatedBackground 20s linear infinite;
}

.smallsparkle {
  pointer-events: none
}